<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel= "stylesheet" href="normalize.css">
	<link rel="stylesheet"  href="estilo.css">
	<link rel= "stylesheet" href="normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/351ca5f3ca.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
                <img src="./images/logo-mercado-liebre.svg" class="logo">
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
        </div>        
            <!-- <nav>
                <div class="buscar">
                    <input type="text" placeholder="Buscar productos, marcas" required>
                    <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
                </div>
            </nav> -->

        <a href="#" class="respmenu">
            <i class="fas fa-bars"></i>  
        </a>

        <nav class="main-navbar">
            <ul class="left-nabvar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="rigth-nabvar">
                <li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li></a></li>
                <li><a href="#">Mis comparas <i class="fas fa-shopping-basket"></i></a></li></a></li>
            </ul>
        </nav>

    </header>
    
    <!-- banner -->
    <div>
        <img src="./images/img-home-banner.jpg" alt="home banner" class="banner">
    </div>

    <main>
        <h2>Basado en tu última visita</h2>
        <section class="flex-container"> 
            <div class="product">
                <img width="100%" class="product__image"  src="./images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product__text">
                    <div class="product__text-icon">
                        <span class="icons-cart"><i col class="fas fa-truck"></i></span>
                    </div>
                    <p class="product__text-price">$6.770</p>
                    <p class="product__text-offert">40% OFF</p>
                    <h3 class="product__text-name">Cafetera Moulinex</h3>
                </div>
            </div>
            <div class="product">
                <img width="100%" src="./images/img-macbook-pro-2019.jpg" alt="Pro 2019" class="product__image">
                <div class="product__text">
                    <div class="product__text-icon">
                        <span class="icons-cart"><i col class="fas fa-truck"></i></span>
                    </div>
                    <p class="product__text-price">$230.000</p>
                    <p class="product__text-offert">20% OFF</p>
                    <h3 class="product__text-name">Pro 2019</h3>
                </div>
            </div>
            <div class="product">
                <img width="100%" src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S109" class="product__image">
                <div class="product__text">
                
                    <div class="product__text-icon">
                        <span class="icons-cart"><i col class="fas fa-truck"></i></span>
                    </div>
                    <p class="product__text-price">$70.500</p>
                    <p class="product__text-offert">10% OFF</p>
                    <h3 class="product__text-name">Samsung Galaxy S109</h3>
                </div>
            </div>
            <div class="product">
                <img width="100%" src="./images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="product__image">
                <div class="product__text">
                    <div class="product__text-icon">
                        <span class="icons-cart"><i col class="fas fa-truck"></i></span>
                    </div>
                    <p class="product__text-price">$23.2000</p>
                    <p class="product__text-offert">5% OFF</p>
                    <h3 class="product__text-name">SmartTv Samsung 43"</h3>
                </div>
            </div> 
        </section>

        <h2>Seccion Ofertas</h2>
        <section class="flex-container">
            <div class="product">
                <img width="100%" src="./images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="product__image">
                <div class="product__text">
                    <div class="product__text-icon">
                        <span class="icons-cart"><i col class="fas fa-truck"></i></span>
                    </div>
                    <p class="product__text-price">$6.770</p>
                    <p class="product__text-offert">40% OFF</p>
                    <h3 class="product__text-name">Cafetera Moulinex</h3>
                </div>
            </div>
            <div class="product">
                <img width="100%" src="./images/img-macbook-pro-2019.jpg" alt="Pro 2019"class="product__image">
                <div class="product__text">
                    <div class="product__text-icon">
                        <span class="icons-cart"><i col class="fas fa-truck"></i></span>
                    </div>
                    <p class="product__text-price">$230.000</p>
                    <p class="product__text-offert">20% OFF</p>
                    <h3 class="product__text-name">Pro 2019</h3>
                </div>
            </div>
            <div class="product">
                <img width="100%" src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S109"class="product__image">
                
                <div class="product__text">
                    <div class="product__text-icon">
                        <span class="icons-cart"><i col class="fas fa-truck"></i></span>
                    </div>
                    <p class="product__text-price">$70.500</p>
                    <p class="product__text-offert">10% OFF</p>
                    <h3 class="product__text-name">Samsung Galaxy S109</h3>
                </div>
            </div>
            <div class="product">
                <img width="100%" src="./images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="product__image">
                <div class="product__text">
                    <div class="product__text-icon">
                        <span class="icons-cart"><i col class="fas fa-truck"></i></span>
                    </div>
                    <p class="product__text-price">$23.2000</p>
                    <p class="product__text-offert">5% OFF</p>
                    <h3 class="product__text-name">SmartTv Samsung 43"</h3>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <ul>
            <li>
                <i class="fas fa-credit-card" style="color: #1259c3"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <li>
                <i class="fas fa-gift" style="color: #1259c3"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li>
                <i class="fas fa-user-shield" style="color: #1259c3"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </li>
            <li>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </li>
        </ul>
    </footer>

</body>

</html>