<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel= "stylesheet" href="normalize.css">
	<link rel="stylesheet"  href="estilo.css">
	<link rel= "stylesheet" href="normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/351ca5f3ca.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
                <img src="./images/logo-mercado-liebre.svg" class="logo">
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                    </h2>
        </div>        
                <!-- <nav>
                    <div class="buscar">
                        <input type="text" placeholder="Buscar productos, marcas" required>
                        <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
                    </div>
                </nav> -->
    
            <a href="#" class="respmenu">
                <i class="fas fa-bars"></i>  
            </a>
    
            <nav class="main-navbar">
                <ul class="left-nabvar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
    
                <ul class="rigth-nabvar">
                    <li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li></a></li>
                    <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li></a></li>
                    <li><a href="#">Mis comparas <i class="fas fa-shopping-basket"></i></a></li></a></li>
                </ul>
            </nav>
    </header>
    <main>
        <form action="resultado.html" method="POST">
            <p>
              <input type="text" name="nombre" id="nombre"></input>
              <label for="usuario">Nombre</label> 
            </p>
      
            <p>
              <input type="email" name="email" id="email"></input>
              <label for="email">E-Mail</label> 
            </p>
      
            <p>
              <input type="password" name="password" id="password"></input>
              <label for="contraseña">Clave</label> 
            </p>
          </form>
    </main>
    <footer>

    </footer>
</body>
</html>

