<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel= "stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/register.css">
    <script src="https://kit.fontawesome.com/351ca5f3ca.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-container">
            <div class="main-header-top-bar">
                <div class="main-header-top-bar-left">
                    <img src="./images/logo-mercado-liebre.svg" class="logo" id="brand-logo">
                    <form class="buscar" method="post">
                        <input type="text" placeholder="Buscar productos, marcas" required>
                        <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="main-header-top-bar-rigth">
                    <p class="copy-header">
                        <i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </p>
                </div>
                <button class="respmenu" id="toggle-button">
                    <i class="fas fa-bars"></i>  
                </button>
            </div>   
    
    
            <nav class="main-navbar" id="main-navbar">
                <ul class="left-nabvar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
    
                <ul class="rigth-nabvar">
                    <li><a href="./register">Creá tu cuenta <i class="far fa-address-card"></i></a></li></a></li>
                    <li><a href="./login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li></a></li>
                    <li><a href="#">Mis comparas <i class="fas fa-shopping-basket"></i></a></li></a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <form class="">

            <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido">
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario">

            <input type="email" name="email" id="email" placeholder="Email">

            <label for="fecha">Fecha de Nacimiento</label>
            <input type="datetime-local" name="fecha" id="fecha" placeholder="dd / mm / yyyy">

            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
            
            <fieldset>
                <label for="">Perfi de Usuario</label>

                <input type="radio" name="perfil" id="comprador" value="0">
                <label for="comprador">Comprador</label>
                <input type="radio" name="perfil" id="vendedor" value="1">
                <label for="vendedor">Vendedor</label>
            </fieldset>

            <fieldset>
                <label for="">Intereses</label>

                <input type="checkbox" name="intereses" id="electro" value="0">
                <label for="electro">Electro</label>
                <input type="checkbox" name="intereses" id="moda" value="1">
                <label for="moda">Moda</label>
                <input type="checkbox" name="intereses" id="hogar" value="2">
                <label for="hogar">Hogar</label>
                <input type="checkbox" name="intereses" id="jugueteria" value="3">
                <label for="jugueteria">Jugueteria</label>
                <input type="checkbox" name="intereses" id="vida-sana" value="4">
                <label for="vida-sana">Vida Sana</label>
            </fieldset>

            <label for="foto-perfil">Foto de Perfil</label>
            <input type="file" name="foto-perfil" id="foto-perfil">

            <label for="password">Contraseña</h3>
            <input type="password" name="password" id="password" placeholder="Ingresá la Contraseña">
            <input type="password" name="password-repeat" id="password-repeat" placeholder="Repeti la Contraseña">

            <button type="submit">Ok!</button>
        </form>
    </main>

    <footer>
        <div class="container">

            <div class="footer-cards">
                <div class="footer-card">
                    <div class="footer-card__icon">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <h2 class="footer-card__title">
                        Pagá con tarjeta o en efectivo
                    </h2>
                    <p class="footer-card__text">
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
    
                <div class="footer-card">
                    <div class="footer-card__icon">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h2 class="footer-card__title">
                        Envío gratis desde $ 2.500
                    </h2>
                    <p class="footer-card__text">
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
    
                <div class="footer-card">
                    <div class="footer-card__icon">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h2 class="footer-card__title">
                        Seguridad, de principio a fin
                    </h2>
                    <p class="footer-card__text">
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </div>
            </div>
            <p class="copyrigth">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    <script src="./js/index.js"></script>
</body>
</html>

