:root {
    --clr-amarillo: #EAC926;
    --clr-azul: #03264C;
    --clr-celeste: #1259c3;
    --clr-gris-oscuro: #666;
    --clr-gris-claro: #ebebeb;
    --clr-verde: #39b54a;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form-register {
    font-family: "roboto";
    background-color: var(--clr-gris-claro);
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: auto;
    align-items: center;
}
.control{
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 6px;
    border: 1px black solid;
    width: 70%;
}
.control-submit{
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 6px;
    border: 1px black solid;
    width: 70%;
    background-color: var(--clr-celeste);
    color: var(--clr-gris-claro);
}
.control-submit:hover{
    background-color: #0022AA;
}

