*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* estilo del encabezado*/
.banner{
    max-width: 100%;
}

header{
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
    margin: 0%;
    padding: 3%;
    border: none;
}
.logo{
    width: 50%;
}
.buscar input {
    width: 40%;
    margin: 20px 10px; 
    border: solid 1px black;
    border-radius: 5px;
}

.lupa {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
}
header ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0)
}

.respmenu {

    text-align: center;
}
.respmenu i {
    border-radius: 5px;
    color: white;
    background-color: rgb(64, 99, 196);
    padding: 15px;
    font-size: 20px;
}
/* estilo del cuerpo*/

main{
    background-color: #ebebeb;
    width: 90%;
    text-align: center;
}
main h2{
    font-size: 24px;
    list-style: none;
    text-align: left;
    color: #666;
}
.product{
    margin:10px;
}
.prod-img{
    max-width: 100%;
    border-bottom: black;
}
.prod-text{
    
    background-color: white;
}
.icons-cart {
    color: #39b54a;
    padding: 5px;
    border: solid 1px;
    border-radius: 100%;
    right: 10%;
}



/* estilo del pie*/
ul {
    list-style: none;
    padding: 10px;

}

footer{
    text-align: center;
}


footer i {
    padding: 2em;
    margin: 8px;
}

h4{
    text-align: left;
}













